body {
  margin: 0;
  padding: 0;
}

.formulario {
  width: 347px;
  height: 363px;
  top: 280px;
  margin-left: 55%;
  background-color: #FFFEFE;
  border-radius: 18px 18px 18px 18px;
  position: absolute;
  float: right;
  box-shadow:  0px 10px 29px;
}

.txtform {
  font-family: verdana, bold;
  font-size: 15px;
  color: #1D8841;
  font-weight: bold;
  text-align: center;
  margin-top: 24px;
}

.img-background img {
  width: 100%;
  height: auto;
}

.box {
  width: 140px;
  height: 50px;
  border-radius: 14px 14px 14px 14px;
  border-color: #1D8841;
  border-style: solid;
  margin-left: 22px;
}

.boxtext {
  text-align: center;
  font-size: 15px;
  color: #1D8841;
  font-weight: bold;
  margin-top: 9px;
}

.simule {
  margin: 0 auto;
  font-size: 20px;
  text-decoration: underline;
  color: #1D8841;
  font-weight: bold;
}

.credito {
  float: left;
  top: 333px;
  margin-left: 5px;
  position: absolute;
}

.textcredito {
  font-family: Verdana, Bold;
  font-size: 24px;
  color: #FFFFFF;
  font-weight: bold;
  text-shadow: #000000 0px 3px 6px;
}

.valores {
  font-family: Verdana, Regular;
  font-size: 23px;
  color: #FFFFFF;
  text-shadow: #000000 0px 3px 6px;
  top: 488px;
  position: absolute;
  width: 408px;
  margin-left: 15px;
}

.cmfunciona, .txtfunciona {
  top: 69px;
  color: #958F8F;
  font-size: 75px;
  font-family: Verdana, Regular;
  text-shadow: #000000 0px 3px 6px;
}

.icone1 {
  top: 150px;
  padding-left: 7%;
}

.txticone {
  font-size: 15px;
  font-family: verdana, Regular;
  color: #958F8F;
  text-shadow: 0px 1px 1px;
}

.txtvantagens {
  font-size: 70px;
  color: #FCFCFC;
  margin: 37px auto;
  letter-spacing: 5px;
  text-shadow: #000000 0px 3px 6px;
}

#vantagens {
  margin-top: 14%;
  padding: 0;
}
.bg-vntg{
  background: linear-gradient(to right bottom, #067010, #5CBF23);
  padding-bottom: 20px;
}
.icone2{
  margin-left: 12%;

}
.txticon2{
  font-size: 20px;
  font-family: verdana, Regular;
  margin-left: -11%;
  color: #FCFCFC;
}
.txticon3{
  font-size: 17px;
  color: #FCFCFC;
  margin-left: -10%;
  font-family: verdana, Regular;
}
#clientes{


}
.txtcli{
  font-size: 50px;
  font-family: verdana, Regular;
  color: #1EC857;
}
