@media (min-width: 768px) {

  /* show 3 items */
  .carouselPrograms .carousel-inner .active,
  .carouselPrograms .carousel-inner .active+.carousel-item,
  .carouselPrograms .carousel-inner .active+.carousel-item+.carousel-item {
    display: block;
  }

  .carouselPrograms .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left),
  .carouselPrograms .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item,
  .carouselPrograms .carousel-inner .carousel-item.active:not(.carousel-item-right):not(.carousel-item-left)+.carousel-item+.carousel-item {
    transition: none;
  }

  .carouselPrograms .carousel-inner .carousel-item-next,
  .carouselPrograms .carousel-inner .carousel-item-prev {
    position: relative;
    transform: translate3d(0, 0, 0);
  }

  .carouselPrograms .carousel-inner .active.carousel-item+.carousel-item+.carousel-item+.carousel-item {
    position: absolute;
    top: 0;
    right: -33.333%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* left or forward direction */
  .carouselPrograms .active.carousel-item-left+.carousel-item-next.carousel-item-left,
  .carouselPrograms .carousel-item-next.carousel-item-left+.carousel-item,
  .carouselPrograms .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item,
  .carouselPrograms .carousel-item-next.carousel-item-left+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    transform: translate3d(-100%, 0, 0);
    visibility: visible;
  }

  /* farthest right hidden item must be abso position for animations */
  .carouselPrograms .carousel-inner .carousel-item-prev.carousel-item-right {
    position: absolute;
    top: 0;
    left: 0%;
    z-index: -1;
    display: block;
    visibility: visible;
  }

  /* right or prev direction */
  .carouselPrograms .active.carousel-item-right+.carousel-item-prev.carousel-item-right,
  .carouselPrograms .carousel-item-prev.carousel-item-right+.carousel-item,
  .carouselPrograms .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item,
  .carouselPrograms .carousel-item-prev.carousel-item-right+.carousel-item+.carousel-item+.carousel-item {
    position: relative;
    transform: translate3d(100%, 0, 0);
    visibility: visible;
    display: block;
    visibility: visible;
  }
}

.panel-thumbnail img {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  margin: 0 auto;
}

.carousel-control-next1-icon {
  background-image: url("../imagens/next.png");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 45%;
  height: 70%;
}
.carousel-control-next{
  opacity: 1;
}
.carousel-control-prev{
  opacity: 1;
}
.carousel-control-back-icon {
  background-image: url("../imagens/back.png");
  background-repeat: no-repeat;
  background-color: transparent;
  width: 45%;
  height: 70%;
}
