@media (min-width: 370px) and (max-width: 770px) {
  .formulario {
    margin-left: 55%;
    float: left;
    top: 100px;
    width: 280px;
    height: 300px;
  }

  .box {
    width: 100px;
    height: 30px;
    border-radius: 14px 14px 14px 14px;
    border-color: #1D8841;
    border-style: solid;
    margin-left: 26px;
  }

  .boxtext {
    text-align: center;
    font-size: 10px;
    color: #1D8841;
    font-weight: bold;
    margin-top: 5px;
  }

  .credito {
    float: left;
    top: 200px;
    margin-left: 5px;
  }

  .valores {
    top: 350px;
    font-size: 15px;
    margin-left: 5px;
  }

  .icone1 {
    top: 100px;
    padding-left: 12%;
    margin: 0 auto;
  }

  .txtfooter {
    font-size: 14px;
    margin-left: 25%;
  }
}

@media (min-width: 320px) and (max-width: 375px) {
  .formulario {
    margin: 15px auto -33px;
    position: static;
    width: 250px;
    height: 280px;
  }

  .py-3 {
    padding-bottom: inherit !important;
  }

  .box {
    width: 73px;
    height: 44px;
    margin-left: 36px;
    margin-top: -11px;
  }

  .simule {
    margin-top: 13px;
  }

  .boxtext {
    text-align: center;
    font-size: 10px;
    color: #1D8841;
    font-weight: bold;
    margin-top: 9px;
  }

  .cmfunciona, .txtfunciona {
    top: 69px;
    font-size: 45px;
  }

  .textcredito {
    font-size: 16px;
  }

  .valores {
    top: 155px;
    font-size: 13px;
    margin-left: 5px;
  }

  .credito {
    float: left;
    top: 97px;
    margin-left: 5px;
    position: absolute;
  }

  .txtvantagens {
    font-size: 40px;
  }

  #vantagens {
    margin-top: 27%;
  }

  .txtcli {
    font-size: 30px;
  }

  .txtnav {
    font-size: 8px;
    text-align: center;
    width: 75%;
    margin-left: 26px;
  }

  .navtop {
    height: 20px;
  }

  .small {
    font-size: 14px;
    margin-left: 4%;

  }
}
