@media (max-width: 992px) {
  .formulario {
    top: 50px;
  }

  .credito {
    top: 50px;
  }

  .valores {
    top: 200px;
  }

  .cmfunciona {
    top: 0;
  }

  .panel-thumbnail img {
    width: auto;
    height: 13rem;
  }
  .navbar-nav{
  flex-direction: row;
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  .formulario {
    margin: -3.75rem auto;
    float: left;
    top: 491px;
    width: 280px;
    height: 300px;
  }
  .formulario3{
    margin: 11rem auto;
  }
  .cmfunciona, .txtfunciona{
    padding-top: 7rem;
  }
  .box {
    width: 100px;
    height: 30px;
    border-radius: 14px 14px 14px 14px;
    border-color: #1D8841;
    border-style: solid;
  }

  .boxtext {
    text-align: center;
    font-size: 10px;
    color: #1D8841;
    font-weight: bold;
    margin-top: 5px;
  }

  .credito {
    float: left;
    top: 120px;
    margin-left: 2%;
  }

  .valores {
    top: 280px;
    font-size: 15px;
    margin-left: 2%;
  }

  .icone1 {
    top: 100px;
    padding-left: 12%;
    margin: 0 auto;
  }

  .txtfooter {
    font-size: 14px;
    margin-left: 1%;
  }
}

@media (max-width: 576px) {
  .formulario {
    width: 250px;
    height: 280px;
    margin: 65% auto;
    float: left;
  }
  .formulario3{
    margin: 3rem auto;
  }
  .cmfunciona, .txtfunciona{
    padding-top: 6rem;
  }
  .icone1 {
    top: 0;
  }

  .py-3 {
    padding-bottom: inherit !important;
  }

  .box {
    width: 90px;
    height: 50px;
    margin-top: -11px;
  }

  .simule {
    margin-top: 13px;
  }

  .boxtext {
    text-align: center;
    font-size: 12px;
    color: #1D8841;
    font-weight: bold;
    margin-top: 9px;
  }

  .cmfunciona, .txtfunciona {
    top: -65px;
    font-size: 45px;
  }

  .textcredito {
    font-size: 16px;
  }

  .valores {
    font-size: 13px;
    margin-left: 5px;
  }

  .credito {
    float: left;
    margin: 15% auto;
    margin-left: 5px;
    position: absolute;
  }

  .txtvantagens {
    font-size: 40px;
  }

  #vantagens {
    margin-top: 38%;
  }

  .txtcli {
    font-size: 30px;
  }

  .txtnav {
    font-size: 8px;
    text-align: center;
    width: 100%;
    text-align: center;
    margin-left: 0;
  }

  .navtop {
    height: 20px;
  }

  .small {
    font-size: 14px;
    margin-left: 4%;
  }

  .txtfooter {
    margin: 0 auto;
    text-align: center;
  }
  .box2{
    margin: 0 auto;
  }
}
